@import url("./component.scss");

@mixin box-shadow($color: rgba(0, 0, 0, 0.1), $blur: 10px) {
  box-shadow: 0 2px $blur $color;
}

.admin-home {
  display: flex;
  height: calc(100vh - 61px);
  background-color: #f5f5f5;
  @media (max-width: 700px) {
    flex-direction: column;
    justify-content: center;
  }
}

.navigation-drawer {
  width: 250px;
  background-color: #3498db;
  color: white;
  padding: 16px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  @media (max-width: 700px) {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: column;
  }
  h3 {
    font-size: 18px;
    margin: 10px 0px;
  }

  .item {
    @media (max-width: 700px) {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
    }
    .draggable-component {
      padding: 10px;
      margin-bottom: 16px;
      background-color: lighten(#3498db, 20%);
      border: 1px solid darken(#3498db, 10%);
      border-radius: 8px;
      cursor: grab;
      transition: transform 0.2s, background-color 0.2s;

      &:hover {
        background-color: lighten(#3498db, 30%);
      }

      &:active {
        cursor: grabbing;
      }
    }
  }
}

.draggable-component {
  padding: 16px / 2;
  border-radius: 8px;
  background-color: #3498db;
  color: white;
  text-align: center;
  cursor: grab;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: lighten(#3498db, 10%);
    transform: translateY(-2px);
  }

  &:active {
    cursor: grabbing;
  }
}
