.user-quiz-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;

  .back {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    .box {
      display: flex;
      align-items: center;
      gap: 20px;
      .arrow {
        transform: rotate(180deg);
      }
      .name {
        color: black;
        font: 700 1.8rem/1 "sans-serif";
      }
    }
    .result-box {
      padding: 4px 6px;
      width: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: none;
      border-radius: 12px;
      height: 35px;
      background-color: green;
      color: #fff;
      font: 600 1.1rem/1 "sans-serif";
      letter-spacing: 1px;
    }
  }
  .progress {
    width: 100%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 6px;
    .progress-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .number {
        color: black;
        font-weight: 500;
      }
      .time-box {
        width: 80px;
        height: 30px;
        padding: 2px 4px;
        background-color: rgb(208, 208, 208);
        border-radius: 12px;
        text-align: center;
        color: black;
        font-weight: 500;
      }
      .arrow-box {
        display: flex;
        align-items: center;
        gap: 12px;
        .arrow {
          width: 16px;
          height: 16px;
          cursor: pointer;
          &.left {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  .quiz-wrapper {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    @media (max-width: 725px) {
      flex-direction: column;
      align-items: center;
    }
    .quiz-home {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 10px;
      max-width: 500px;
      .number {
        font: 400 0.8rem/1 "sans-serif";
        color: black;
        text-align: start;
      }
      .question {
        font: 500 1.4rem/1.3 "sans-serif";
        color: black;
        text-align: start;
        .head {
          font-weight: 800;
        }
      }
    }
    .option-wrapper {
      padding: 0.8rem;

      .answer-wrapper {
        padding: 12px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        border-radius: 8px;
        width: 340px;
        .answer-box {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 4px;
          width: 350px;
          display: flex;
          align-items: center;
          gap: 10px;
          border-radius: 8px;
          padding: 4px;
          background-color: rgb(230, 230, 252);
          cursor: pointer;
          &:focus-visible {
            outline: none;
          }

          &:hover {
            background-color: rgb(252, 234, 228);
          }
          &.correct {
            background-color: rgb(222, 251, 222);
          }
          &.wrong {
            background-color: rgb(255, 233, 233);
          }
          &.select {
            background-color: rgb(252, 234, 228);
          }
          .number {
            border-radius: 8px;
            height: 40px;
            width: 40px;
            align-items: center;
            background-color: #fff;
            display: flex;
            justify-content: center;
            color: black;
            font: 600 1.4rem/1 "sans-serif";
          }
          .option {
            color: black;
            font: 400 1.3rem/1 "sans-serif";
          }
        }
        .note {
          color: grey;
          font: 400 0.8rem/1 "sans-serif";
        }
        .answer-btn {
          width: 320px;
          height: 38px;
          border: none;
          border: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          color: #fff;
          background-color: orangered;
          border-radius: 12px;
          margin-top: 10px;
          font: 500 1.4rem/1 "sans-serif";
        }
        .text {
          color: black;
          font: 500 1rem/1 "sans-serif";
          text-align: center;
          .special {
            font-weight: 700;
          }
        }
      }
    }
  }
}

.result-page-wrapper{
  width: 100vw;
  height: calc(100vh - 61px);
  display: flex;
  align-items: center;
  justify-content: center;
.result-info{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 2px solid green;
  border-radius: 12px;
  background-color: rgb(245, 254, 245);
  .result-graph{
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    .name{
      display: flex;
      gap: 4px;
      flex-direction: column;
      padding: 10px;
      .user{
        font: 600 1.6rem/1 "sans-serif";
        color: black;
      }
      .title{
        font: 500 1.2rem/1 "sans-serif";
        color: black;
        .result{
          font-weight: 600;
        }
      }
    }
   
  }
  .info{
    display: flex;
  
    flex-direction: column;
    .heading{
      text-align: start;
      font: 600 1.2rem/1 "sans-serif";
     color: black;
     margin-bottom: 2px;
    }
    .data{
      display: flex; 
      align-items: center;
      gap: 20px;
     
    }
  }
  .result{
    text-align: center;
    margin-bottom: 1.4rem;
      font: 600 1.4rem/1 "sans-serif";
     color: rgb(53, 1, 1);
  }
}
}